.home {
    padding-bottom: 8rem;
    padding-top: 8rem;

}

.explore-btn {
    background-color: var(--bg-color);
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    color: #000;
    font-weight: 600;
    padding: 15px 20px;
    text-decoration: none;
}
